html {
    font-size: 100%;
}

body {
    font-family: "Sawarabi Gothic";
}

header {
    width: 100%;
    aspect-ratio: 15 / 1;
}

.header-top {
    font-size: clamp(0.1rem, 1vw + 0.1rem, 2rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0.3rem 2rem;
}

.header-area {
    display: flex;
    justify-content: space-between;
}

.header-text-area {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    height: 100%;
}

.logo-area {
    display: flex;
    align-items: center;
    width: 20%;
    margin-left: 2rem;
}

.logo {
    width: 8rem;
}

.sp-op-menu {
    display: flex;
}

.header-text {
    font-size: clamp(0.1rem, 1vw + 0.1rem, 2rem);
    list-style: none;
    margin-left: 2rem;
}

.header-btn {
    border-radius: 0.5rem;
    height: clamp(0.1rem, 3vw + 0.1rem, 3rem);
    width: 100%;
    margin-right: 0.1rem;
    font-size: clamp(0.1rem, 1vw + 0.1rem, 1rem);
}

.main-img-box {
    position: relative;
    display: flex;
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    aspect-ratio: 48 / 20;
    font-family: "M PLUS Rounded 1c";
}

.main-img-cover {
    position: absolute;
    width: 100%;
    aspect-ratio: 48 / 20;
    background-color: #ffffff;
}

.main-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
}

.main-text {
    text-shadow: 0.1rem 0.2rem 0.3rem #808080;
    font-size: clamp(0.1rem, 3vw + 0.1rem, 3rem);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: white;
}

.notice {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 5 / 2;
}

.notice-box {
    width: 70%;
    position: relative;
}

.notice-title {
    display: flex;
    justify-content: center;
    font-size: clamp(0.1rem, 1vw + 0.1rem, 2rem);
}

.detail-btn {
    border-radius: 2rem;
    padding: 0rem 2rem;
}

.notice-btn {
    position: absolute;
    top: 5%;
    right: 0%;
}

.notice-list {
    display: flex;
    list-style: none;
    border-bottom: 1px solid;
}

.notice-date {
    width: 30%;
    font-size: clamp(0.1rem, 1vw + 0.1rem, 1.5rem);
}

.notice-text {
    font-size: clamp(0.1rem, 1vw + 0.1rem, 1.5rem);
}

.introduce {
    width: 100%;
    aspect-ratio: 5 / 2;
    display: flex;
    text-align: flex-start;
    justify-content: center;
}

.intro-box {
    display:flex;
    text-align: center;
    align-items: center;
    width: 85%;
    height: 70%;
}

.intro-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    aspect-ratio: 1 / 1;
    color: white;
}

.intro-main {
    height: 100%;
    position: relative;
    margin: auto;
    aspect-ratio: 1.5 / 1 ;
}

.intro-title {
    margin-top: 0.8rem;
    margin-bottom: 0;
    font-size: clamp(0.1rem, 2vw + 0.1rem, 3rem);
    font: bold;
}

.intro-sub-title {
    font-size: clamp(0.1rem, 1.5vw + 0.1rem, 2rem);
    font: bold;
}

.intro-text {
    font-size: clamp(0.1rem, 1.4vw + 0.1rem, 1.7rem);
    text-align: left;
    margin-bottom: 0;
}

.intro-btn {
    font-size: clamp(0.1rem, 1vw + 0.1rem, 1.5rem);
}

.reason {
    width: 100%;
    aspect-ratio: 5 / 2;
}